<%= form_tag("/inquiry", method: "post", :id => 'inquiry_form', :remote => true) do %>
    <div class="line one">
      <div class="unit">
        <%= label_tag :name %>
        <%= text_field_tag :name %>
      </div>

      <div class="unit" style="left: 20px; position: relative;">
        <%= label_tag :email %>
        <%= email_field_tag :email %>
      </div>
    </div>

    <div class="line two">
      <div class="unit">
        <%= label_tag :your_question %>
        <%= text_field_tag :content %>
      </div>
    </div>

    <%= submit_tag 'Submit Question', :class => 'button' %>
<% end %>
