<%= form_tag("/inquiry", method: "post", :id => 'inquiry_form', :remote => true) do %>
    <div class="line one">
      <div class="unit one">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, :placeholder => 'NAME' %>
      </div>

      <div class="unit two">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, :placeholder => 'EMAIL' %>
      </div>
    </div>

    <div class="line two">
      <div class="unit three">
        <%= label_tag :your_question %>
        <%= text_field_tag :content, nil, :placeholder => 'YOUR INQUIRY' %>
      </div>
    </div>

    <%= submit_tag 'Submit Inquiry', :class => 'button' %>
<% end %>

<div class="inquiry-successful">
  <h2>We've received your question!</h2>
</div>
