<div id="contact-container">

  <div class="page-header">
    <h1>Contact Us</h1>

    <h3>HOME / <span>CONTACT</span></h3>
  </div>

  <div class="container intro">
    <div class="wrapper">
      <h1>WE LOVE TO LISTEN</h1>

      <p>We like to think of our juice as a gateway to new experiences. Whether you're a customer, friend, or just want
        to
        say hi, we always love hearing from you. Just fill out our message form or stop in during business hours.</p>
    </div>
  </div>

  <div class="contact-nav">
    <div class="nav-item" data-num="1"><a href="#retail"><h2>Retail locations</h2></a>
      <hr>
    </div>
    <div class="nav-item" data-num="2"><a href="#pickup"><h2>Pickup locations</h2></a>
      <hr>
    </div>
    <div class="nav-item" data-num="3"><a href="#messages"><h2>Send a message</h2></a>
      <hr>
    </div>
  </div>

  <div class="map">
    <iframe width="1700" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=23%20N%20Market%20St%2C%20Lancaster%2C%20PA%2017603%2C%20United%20States&amp;key=AIzaSyBcjT210WhYpmwK2oRunSWXU3v-9ItUKHs"></iframe>
  </div>

  <a name="retail"></a>

  <div class="container retail">
    <div class="wrapper">
      <h1 class="left-align">Retail locations</h1>
      <hr>
      <div class="img-hold"></div>
      <div class="clearfix"></div>

      <div class="location">
        <h3>1. Lancaster central market</h3>
        <hr>

        <div class="address">23 N Market Street <br><br>Lancaster, PA 171603</div>
        <br>
        <br>

        <div class="hours">Daily <br><br>6:00A - 2:00P</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/23+N+Market+St,+Lancaster,+PA+17603/@40.0386182,-76.3068557,17z/data=!3m1!4b1!4m2!3m1!1s0x89c624f2666496e5:0xb434ba698a2f25a9" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>

      <div class="location">
        <h3>2. Lititz Farmer's Market</h3>
        <hr>

        <div class="address">9 N Water ST<br><br>Lititz, PA 17543</div>
        <br>
        <br>

        <div class="hours">Saturdays <br><br>8:00A 12:00P</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/9+N+Water+St,+Lititz,+PA+17543/@40.1570156,-76.3020483,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6186ece3980e3:0x49d0c82517108c0d" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>

      <div class="location">
        <h3>3. Prince Street Cafe</h3>
        <hr>

        <div class="address">15 N Prince St<br><br>Lancaster, PA 17603</div>
        <br>
        <br>

        <div class="hours">Daily <br><br>6:30A - 11:00P</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/15+N+Prince+St,+Lancaster,+PA+17603/@40.037729,-76.307785,17z/data=!3m1!4b1!4m2!3m1!1s0x89c624f23bad43d1:0x7aee6af104adc694" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>

      <div class="location">
        <h3>4. Lancaster E. Side Market<br><span>At Musser Park</span></h3>
        <hr>

        <div class="address">135 N Lime Street <br><br>Lancaster, PA 17603</div>
        <br>
        <br>

        <div class="hours">Sundays <br><br>10:00A - 2:00P</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/135+N+Lime+St,+Lancaster,+PA+17602/@40.0410918,-76.3014073,17z/data=!3m1!4b1!4m2!3m1!1s0x89c624ecb2b9f6cb:0xc004b35b4f1661c3" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>

    </div>
  </div>

  <a name="pickup"></a>

  <div class="container pickup">
    <div class="wrapper">
      <h1 class="left-align">Pickup locations <span>Please call for an appointment to pickup - 609.741.7453</span></h1>
      <hr>

      <div class="location">
        <h3>1. Rijuice Commissary</h3>
        <hr>

        <div class="address">315 E Marion ST <br><br>Lancaster, PA 17602</div>
        <br>
        <br>

        <div class="hours">Monday - Friday <br><br>11:00A - 6:00P</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/315+E+Marion+St,+Lancaster,+PA+17602/@40.0412222,-76.298989,17z/data=!3m1!4b1!4m2!3m1!1s0x89c62494b37860eb:0xa9c8a7e66c5deb76" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>

      <div class="location">
        <h3>2. Lancaster Central Market</h3>
        <hr>

        <div class="address">23 N Market Street <br><br>Lancaster, PA 17603</div>
        <br>
        <br>

        <div class="hours">Daily <br><br>6:00A - 2:00P</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/23+N+Market+St,+Lancaster,+PA+17603/@40.0386182,-76.3068557,17z/data=!3m1!4b1!4m2!3m1!1s0x89c624f2666496e5:0xb434ba698a2f25a9" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>

      <div class="location">
        <h3>3. Evolution Power Yoga</h3>
        <hr>

        <div class="address">398 Harrisburg Ave<br><br>Lancaster, PA 17603</div>
        <br>
        <br>

        <div class="hours">Call To Schedule an Appointment</div>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/398+Harrisburg+Ave,+Lancaster,+PA+17603/@40.0476153,-76.3138253,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6248bd0658fcb:0xf8e83962eaf340bf" target="_blank">
          <div class="button">VIEW MAP</div>
        </a>
        <br>
      </div>
    </div>
  </div>

  <a name="messages"></a>

  <div class="container email">
    <div class="wrapper">
      <h1 class="left-align">Send a Message</h1>

      <%= form_tag("/contact", method: "post", :id => 'contact-form', :remote => true) do %>
          <div class="line one">
            <div class="unit">
              <%= label_tag :name %>
              <%= text_field_tag :name, nil %>
            </div>

            <div class="unit">
              <%= label_tag :email %>
              <%= email_field_tag :email, nil %>
            </div>

            <div class="unit">
              <%= label_tag :subject %>
              <%= text_field_tag :subject, nil %>
            </div>
          </div>

          <div class="line two">
            <div class="unit">
              <%= label_tag :your_message %>
              <%= text_field_tag :content, nil %>
            </div>
          </div>

          <%= submit_tag 'Submit', :class => 'button' %>
      <% end %>


      <div class="general-contact">
        <h3>General Contact Info</h3>
        <hr>

        <div class="address">Rijuice<br>315 E Marion</div>
        <div class="hours">Lancaster, PA 17602</div>
        <br>

        <div class="hours">609-741-7453</div>
        <br>

        <div class="hours">info@rijuice.com</div>
        <br>

        <div class="social">
          <i class="fa fa-facebook-official"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-tumblr"></i>
        </div>
      </div>
    </div>
  </div>


</div>
