<div id="contact-container">

  <div class="page-header">
    <h1>Contact Us</h1>

    <h3>HOME / <span>CONTACT</span></h3>
  </div>

  <div class="container intro">
    <div class="wrapper">
    <h1>WE LOVE TO LISTEN</h1>

    <p>We like to think of our juice as a gateway to new experiences. Whether you're a customer, friend, or just want to
      say hi, we always love hearing from you. Just fill out our message form or stop in during business hours.</p>
    </div>
  </div>

  <div class="contact-nav">
    <div class="nav-item" data-num="1"><a href="#retail"><h2>Retail locations</h2></a><hr></div>
    <div class="nav-item" data-num="2"><a href="#pickup"><h2>Pickup locations</h2></a><hr></div>
    <div class="nav-item" data-num="3"><a href="#messages"><h2>Send a message</h2></a><hr></div>
  </div>

  <div class="map"></div>

  <a name="retail"></a>
  <div class="container retail">
    <div class="wrapper">
    <h1 class="left-align">Retail locations</h1>
    <hr>
    <div class="img-hold"></div>
    <div class="clearfix"></div>

    <div class="location">
      <p>Lancaster central market</p>
      <hr>

      <div class="address">23 N Market Street <br><br>Lancaster, PA 171603</div>
      <br>
      <br>
      <div class="hours">Daily <br><br>6:00A - 2:00P</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>

    <div class="location">
      <p>Lititz Farmer's Market</p>
      <hr>

      <div class="address">9 N Water ST<br><br>Lititz, PA 17543</div>
      <br>
      <br>
      <div class="hours">Saturdays <br><br>8:00A 12:00P</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>

    <div class="location">
      <p>Prince Street Cafe</p>
      <hr>

      <div class="address">15 N Prince St<br><br>Lancaster, PA 17603</div>
      <br>
      <br>
      <div class="hours">Daily <br><br>6:30A - 11:00P</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>

    <div class="location">
      <p>Lancaster E. Side Market<br><span>At Musser Park</span></p>
      <hr>

      <div class="address">135 N Lime Street <br><br>Lancaster, PA 17603</div>
      <br>
      <br>
      <div class="hours">Sundays <br><br>10:00A - 2:00P</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>

  </div>
  </div>

  <a name="pickup"></a>
  <div class="container pickup">
    <div class="wrapper">
    <h1 class="left-align">Pickup locations <span>Please call for an appointment to pickup - 609.741.7453</span></h1>
    <hr>

    <div class="location">
      <p>Rijuice Commissary</p>
      <hr>

      <div class="address">315 E Marion ST <br><br>Lancaster, PA 17602</div>
      <br>
      <br>
      <div class="hours">Monday - Friday <br><br>11:00A - 6:00P</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>

    <div class="location">
      <p>Lancaster Central Market</p>
      <hr>

      <div class="address">23 N Market Street <br><br>Lancaster, PA 17603</div>
      <br>
      <br>
      <div class="hours">Daily <br><br>6:00A - 2:00P</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>

    <div class="location">
      <p>Evolution Power Yoga</p>
      <hr>

      <div class="address">398 Harrisburg Ave<br><br>Lancaster, PA 17603</div>
      <br>
      <br>
      <div class="hours">Call To Schedule an Appointment</div>
      <br>
      <br>
      <div class="button">VIEW MAP</div>
      <br>
    </div>
    </div>
  </div>

  <a name="messages"></a>
  <div class="container email">
    <div class="wrapper">
    <h2 class="left-align">Send a Message</h2>

    <%= form_tag("/contact", method: "post", :id => 'contact-form', :remote => true) do %>
        <div class="line one">
          <div class="unit">
            <%= label_tag :name %>
            <%= text_field_tag :name, nil, :placeholder => 'NAME' %>
          </div>

          <div class="unit">
            <%= label_tag :email %>
            <%= email_field_tag :email, nil, :placeholder => 'EMAIL' %>
          </div>

          <div class="unit">
            <%= label_tag :subject %>
            <%= text_field_tag :subject, nil, :placeholder => 'SUBJECT' %>
          </div>
        </div>

        <div class="line two">
          <div class="unit">
            <%= label_tag :your_message %>
            <%= text_field_tag :content, nil, :placeholder => 'YOUR MESSAGE' %>
          </div>
        </div>

        <%= submit_tag 'Submit', :class => 'button' %>
    <% end %>


    <div class="general-contact">
      <p>General Contact Info</p>
      <hr>

      <div class="address">Rijuice<br>315 E Marion </div>
      <div class="hours">Lancaster, PA 17602</div>
      <br>
      <div class="hours">609-741-7453</div>
      <br>
      <div class="hours">info@rijuice.com</div>
      <br>
      <div class="social">
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-tumblr"></i>
      </div>
    </div>
</div>
  </div>


</div>
