<div id="home-container">

  <div class="container welcome white fade-in">
    <div class="wrapper">
      <%= image_tag 'header_logo@2x.png' %>
      <h1>WELCOME TO RIJUICE</h1>

      <h3>Life begins from within.</h3>

      <div class="button">FIND YOUR JUICE</div>
    </div>
  </div>

  <div class="container juice">
    <div class="wrapper">
      <h1>HIGH FREQUENCY LIVING FOOD</h1>
      <span class="grey">OUR PRODUCTS</span>

      <p class="shine-green">Organic, raw, cold-pressed juices and cleanses crafted to raise your vibration.</p>
    </div>
  </div>

  <div class="container products">
    <div class="product-container">
      <% Pack.all.each do |p| %>
          <div class="product">

            <h4><%= p.name %></h4>
            <hr class="small-hr">
            <%= image_tag p.image %>
            <hr class="thin-grey">
            <p><%= p.description %></p>

          </div>
      <% end %>
    </div>

    <div class="button">ENTER ACCOUNT #</div>
    <div class="button">SIGN UP</div>
  </div>

  <%= render 'store' %>

</div>
