<div class="container signup">
<a name="island-form-one"></a>
<div class="island-form one">

  <h2>Create An Account</h2>

  <%= form_for @user, url: { action: 'create' }, :remote => true do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.text_field :email, :placeholder => 'Email', :width =>'50', :height => '50' %>
      </p>

      <p>
        <%= f.password_field :password, :placeholder => 'Password' %>
      </p>

      <p>
        <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
      </p>

      <p class="button"><%= f.submit 'SUBMIT' %></p>
  <% end %>
</div>


<a name="island-form-two"></a>
<div class="island-form two">

  <h2>Where Should We Reach You?</h2>

  <%= form_for  @user, url: { action: 'add_contact' }, :remote => true do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.text_field :address_one, :width =>'50', :height => '50', :placeholder => 'Address One' %>
      </p>

      <p>
        <%= f.text_field :address_two, :placeholder => 'Address Two' %>
      </p>

      <p>
        <%= f.text_field :city, :placeholder => 'City' %>
      </p>

      <p>
        <%= f.text_field :state, :placeholder => 'State' %>
      </p>

      <p>
        <%= f.text_field :zip, :placeholder => 'Zip' %>
      </p>

      <p>
        <%= f.text_field :phone, :placeholder => 'Phone' %>
      </p>

      <p class="button"><%= f.submit 'SUBMIT' %></p>
  <% end %>
</div>

<a name="island-form-three"></a>
<div class="island-form three">

  <h2>Credit Card</h2>

  <%= form_for  @user, url: { action: 'add_credit' }, :remote => true do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= text_field_tag :card_number, nil, name: nil, :placeholder => "Card Number", :data => {:stripe => 'number'} %>
      </p>

      <p>
        <%= text_field_tag :card_exp_month, nil, name: nil, :placeholder => "Card Exp Month", :data => {:stripe => 'exp_month'} %>
      </p>

      <p>
        <%= text_field_tag :card_exp_year, nil, name: nil, :placeholder => "CardExp Year", :data => {:stripe => 'exp_year'} %>
      </p>

      <p>
        <%= text_field_tag :card_cvc, nil, name: nil, :placeholder => "Cvc", :data => {:stripe => 'cvc'} %>
      </p>

      <p class="button"><%= f.submit 'SUBMIT' %></p>
<% end %>
</div>
</div>