<div class="island-form one">

  <h2>Build Your Login</h2>

  <%= form_for '/sign_up', :remote => true do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.label :email %><br/>
        <%= f.text_field :email, :width =>'50', :height => '50' %>
      </p>

      <p>
        <%= f.label :password %><br/>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation %>
      </p>

      <p class="button"><%= f.submit 'SUBMIT' %></p>
  <% end %>
</div>


<div class="island-form two">

  <h2>Where Should We Deliver To?</h2>

  <%= form_for '/add_contact', :remote => true do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.label :address_one %><br/>
        <%= f.text_field :address_one, :width =>'50', :height => '50' %>
      </p>

      <p>
        <%= f.label :address_two %><br/>
        <%= f.text_field :address_two %>
      </p>

      <p>
        <%= f.label :city %><br/>
        <%= f.text_field :city %>
      </p>

      <p>
        <%= f.label :state %><br/>
        <%= f.text_field :state %>
      </p>

      <p>
        <%= f.label :zip %><br/>
        <%= f.text_field :zip %>
      </p>

      <p>
        <%= f.label :phone %><br/>
        <%= f.text_field :phone %>
      </p>

      <p class="button"><%= f.submit 'SUBMIT' %></p>
  <% end %>
</div>


<div class="island-form three">

  <h2>Credit Card, Bitch</h2>

  <%= form_for '/add_payment' do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div>
        <label for="card-number">Card Number:</label>
        <%= text_field_tag :card_number, nil, name: nil, :placeholder => "Card Number", :data => {:stripe => 'number'} %>
      </div>

      <div>
        <label for="card-exp-month">Card Expiry Month:</label>
        <%= text_field_tag :card_exp_month, nil, name: nil, :placeholder => "Card Exp Month", :data => {:stripe => 'exp_month'} %>
      </div>

      <div>
        <label for="card-exp-year">Card Expiry Year:</label>
        <%= text_field_tag :card_exp_year, nil, name: nil, :placeholder => "CardExp Year", :data => {:stripe => 'exp_year'} %>
      </div>

      <div>
        <label for="card-cvc">CVC:</label>
        <%= text_field_tag :card_cvc, nil, name: nil, :placeholder => "Cvc", :data => {:stripe => 'cvc'} %>
      </div>


<% end %>
</div>
