<div id="build-a-pack">

  <div class="box sizes">

    <div id="12pack" class="button">
      12 Pack
    </div>
    <div id="24pack" class="button">
      24 Pack
    </div>

  </div>

  <br>

  <div class="box juices">
    <% Juice.active.each do |j| %>
        <div class="juice-detail" data-id="<%= j.id %>" data-name="<%= j.name %>">
          <div class="box img">
            <%= image_tag(j.image.url(:medium)) %>
          </div>

          <div class="box desc">
            <%= j.description %>
          </div>
          <div class="box quantity">
            <div class="value">0</div>
            <br>
            <i class="fa fa-arrow-left button minus"></i>
            <i class="fa fa-arrow-right button plus"></i>
          </div>
        </div>
        <!-- extras -->
        <div class="juice-detail" data-id="<%= j.id %>">
          <div class="box img">
            <%= image_tag(j.image.url(:medium)) %>
          </div>

          <div class="box desc">
            <%= j.description %>
          </div>
          <div class="box quantity">
            <div class="value">0</div>
            <br>
            <i class="fa fa-arrow-left button minus"></i>
            <i class="fa fa-arrow-right button plus"></i>
          </div>
        </div>

        <div class="juice-detail" data-id="<%= j.id %>">
          <div class="box img">
            <%= image_tag(j.image.url(:medium)) %>
          </div>

          <div class="box desc">
            <%= j.description %>
          </div>
          <div class="box quantity">
            <div class="value">0</div>
            <br>
            <i class="fa fa-arrow-left button minus"></i>
            <i class="fa fa-arrow-right button plus"></i>
          </div>
        </div>
        <!-- end -->
    <% end %>
  </div>

  <div class="clearfix"></div>

  <div id="add-to-cart" class="button">ADD TO CART</div>


</div>

<%= render 'cart' %>

<script>

  $('#footer').addClass('product')

</script>
