<div id="footer">

  <div class="wrapper">
  <table class="top">
    <tr>
    <td class="foot-container links">
      <h2>Links</h2>

      <div class="foot-item"><%= link_to 'Home', '/' %></div>
      <div class="foot-item"><%= link_to 'About Us', '/#whoweare' %></div>
      <div class="foot-item"><%= link_to 'Ingredients', '/#inside' %></div>
      <div class="foot-item"><%= link_to 'FAQ', '/#faq' %></div>
      <div class="foot-item" style="pointer-events:none;opacity: 0.2"><%= link_to 'Products', '/products' %></div>
    </td>

    <td class="foot-container order">
     <!-- <h2 style="text-align: center">Store Coming Soon</h2>-->
      <h2>Order Juice</h2>

      <div class="foot-item"><span>Packs</span></div>
      <div class="foot-item" style="pointer-events:none;opacity: 0.2;"><%= link_to 'Build a Pack', '/products' %></div>
      <div class="foot-item"><span>Cases</span></div>
      <div class="foot-item" style="pointer-events:none;opacity: 0.2"><%= link_to 'Shop Cleanses', '/products' %></div>
      <div class="foot-item"><span>Cleanses</span></div>
      <div class="foot-item" style="pointer-events:none;opacity: 0.2"><%= link_to 'Low-glycene Cleanses', '/products' %></div>
    </td>

    <td class="foot-container insta">
      <h2>Instagram Feed</h2>

      <div id="instagram">
        <%# @instagram.each do |instagram| %>

           <a href="https://www.instagram.com/rijuicefam" target="_blank"><%#= image_tag instagram.images.standard_resolution.url %></a>

        <% #end %>
      </div>
    </td>

    <td class="foot-container contact">
      <h2>Contact</h2>

      <div class="contact">
        23 N. Market St.
        <br>
        Lancaster, P.A. 17603
        <br>
        <br>
        215-483-9183
        <br>
        contact@rijuice.com
      </div>
      <div class="social">
        <a href="http://facebook.com/rijuicefam" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="http://instagram.com/rijuicefam" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="http://rijuice.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a>
      </div>

    </td>
    </tr>
  </table>
  <br>
  <hr>


  <div class="bottom">
   <!-- <a href='/night' id="night" style="cursor:default">--><%= image_tag 'footer_logo@2x.png' %>
      <h3>Life Begins From Within</h3>
  <!--  </a> -->
    <%#= link_to 'Find Your Juice', '/products', :class => 'button' %>
    <div class="button store-closed-find"></div>
  </div>

  </div>
</div>

<div id="footer-foot">
  COPYRIGHT &#169; 2015 RIJUICE / ALL RIGHTS RESERVED.
</div>
