<div id="footer">

  <div class="top">
    <div class="foot-container links">
      <h2>Links</h2>

      <div class="foot-item"><%= link_to 'Home', '/' %></div>
      <div class="foot-item"><%= link_to 'About Us', '/#whoweare' %></div>
      <div class="foot-item"><%= link_to 'Ingredients', '/#inside' %></div>
      <div class="foot-item"><%= link_to 'FAQ', '/#faq' %></div>
      <div class="foot-item"><%= link_to 'Products', '/products' %></div>
    </div>

    <div class="foot-container order">
      <h2>Order Juice</h2>

      <div class="foot-item"><span>Packs</span></div>
      <div class="foot-item"><%= link_to 'Build a Pack', '/products' %></div>
      <div class="foot-item"><span>Cases</span></div>
      <div class="foot-item"><%= link_to 'Shop Cleanses', '/products' %></div>
      <div class="foot-item"><span>Cleanses</span></div>
      <div class="foot-item"><%= link_to 'Low-glycene Cleanses', '/products' %></div>
    </div>

    <div class="foot-container insta">
      <h2>Instagram Feed</h2>
      <div id="instagram"></div>
    </div>

    <div class="foot-container contact">
      <h2>Contact</h2>

      <div class="contact">
        23 N. Market St.
        <br>
        Lancaster, P.A. 17603
        <br>
        <br>
        215-483-9183
        <br>
        contact@rijuice.com
      </div>
      <div class="social">
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-tumblr"></i>
      </div>

    </div>
  </div>

  <hr>

  <div class="bottom">
    <%= image_tag 'logo-tri.png' %>
    <h3>Life Begins From Within</h3>
    <%= link_to 'Find Your Juice', '/products', :class => 'button' %>
  </div>

</div>
