<div class="footer">

  <div class="foot-container">
    <h2>Links</h2>
    <%= link_to 'Home', '/' %>
    <%= link_to 'About Us', '/' %>
    <%= link_to 'Ingredients', '/' %>
    <%= link_to 'FAQ', '/' %>
    <%= link_to 'Products', '/' %>
  </div>

  <div class="foot-container">
    <h2>Order Juice</h2>
    <span>Packs</span>
    <%= link_to 'Order a Pack', '/products' %>
    <span>Cases</span>
    <%= link_to 'Order a Case', '/products' %>
    <span>Cleanses</span>
    <%= link_to 'Order a Cleanse', '/products' %>
  </div>

  <div class="foot-container">
    <h2>Instagram Feed</h2>

  </div>

  <div class="foot-container">
    <h2>Contact</h2>
    <div class="contact">
      23 N. Market St.
      Lancaster, P.A. 17603

      215-483-9183
      contact@rijuice.com
    </div>
    <div class="social">
      facebook
      twitter
      tumblr
    </div>

  </div>

  <hr>

  <h1>Life Begins From Within</h1>
  <%= button_to 'Find Your Juice', '/products' %>

</div>
