<div class="header fixed">
  <%= link_to 'rijuice@rijuice.rijuice', '/' %>
  <%= link_to '609-mobile-mobile', '/' %>
  <%= button_to 'Login', '/' %>


</div>

<div class="header float">
  <%= link_to 'Home', '/' %>
  <%= link_to 'Purchase', '/products' %>
  <%= link_to 'Contact', '/contact' %>
</div>
