<div id="header-fixed">
  <%= link_to 'rijuice@rijuice.rijuice', '/' %>
  <%= link_to '609-mobile-mobile', '/' %>
  <%= link_to 'Login', '/log_in', :class => 'button' %>
</div>

<div id="header-float">
  <div class="content">
    <div class="nav-item logo"><%= link_to image_tag('logo-tri.png', :style => 'width: 50px;margin-right: 40%;') %></div>
    <div class="nav-item"> <%= link_to 'HOME', '/' %> &or;</div>
    <div class="nav-item"> <%= link_to 'PURCHASE', '/products' %>&or;</div>
    <div class="nav-item"> <%= link_to 'CONTACT', '/contact' %></div>
  </div>
</div>
