<div id="header-float">
  <div class="content">
    <div class="nav-item logo"><a href="/"><%= image_tag('nav_logo@2x.png') %></a></div>
    <div class="nav-item home">
      <a href="/" class="nav-category">HOME &#9662;</a>
      <ul>
        <% if @page_title == 'index' %>
            <li style="width: 60px;"><a href="#juice">JUICE</a></li>
            <li><a href="#whoweare">WHO WE ARE</a></li>
            <li><a href="#inside">WHAT'S INSIDE</a></li>
            <li style="width: 60px;"><a href="#stats">STATS</a></li>
            <li style="width: 60px;"><a href="#faq">FAQ</a></li>
        <% else %>
            <li style="width: 60px;"><a href="/home#juice">JUICE</a></li>
            <li><a href="/home#whoweare">WHO WE ARE</a></li>
            <li><a href="/home#inside">WHAT'S INSIDE</a></li>
            <li style="width: 60px;"><a href="/home#stats">STATS</a></li>
            <li style="width: 60px;"><a href="/home#faq">FAQ</a></li>
        <% end %>
      </ul>
    </div>
    <div class="nav-item purchase"> <%= link_to 'PURCHASE', '/products', :class => 'nav-category' %></div>
    <div class="nav-item contact"> <%= link_to 'CONTACT', '/contact', :class => 'nav-category' %></div>

    <% if logged_in? %>
        <%= link_to 'Logout', '/log_out', :class => 'button' %>
    <% else %>
        <%= link_to 'Login', '/log_in', :class => 'button' %>
    <% end %>
  </div>
</div>
