<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ri</title>
  <meta name="description" content="Rijuice">
  <link rel="icon" type="image/png" href="<%= image_path 'ri_favicon.png' %>">

  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="xZmLJMQx9eASTTl5wGiTpq0vRyDvQFBWwWB9sJV8pOY"/>

  <%= include_gon(:init => true) %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="site-wrapper">

  <%= yield %>

</div>

</body>
</html>
